<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b7f29fa-8bc5-4dc3-ba89-4fb6aba1bf5e/resourcegroups/WebServer20210714173549ResourceGroup/providers/Microsoft.Web/sites/rstextclass</ResourceId>
    <ResourceGroup>WebServer20210714173549ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/5b7f29fa-8bc5-4dc3-ba89-4fb6aba1bf5e/resourceGroups/WebServer20210714173549ResourceGroup/providers/Microsoft.ApiManagement/service/WebServer2api/apis/WebServer2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rstextclass.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>aecdc607-8573-40ba-b512-be9d597c5f23</ProjectGuid>
    <MSDeployServiceURL>rstextclass.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rstextclass</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rstextclass</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>